.screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding-left: 18rem;
    padding-right: 18rem;
    padding-top: 4.2rem;
}